<p id="notice"><%= notice %></p>

<h1 id="vending-head">SNACK ATTACK</h1>
<div id="vending-text">
<table>
  <thead>
    <tr>
      <th>Snack</th>
      <th>Code</th>
      <th>Price</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendings.each do |vending| %>
      <tr>
        <td><%= vending.snack %></td>
        <td><%= vending.code %></td>
        <td><%= vending.price %></td>
        <td><%= vending.kind_id %></td>
        <td><%= link_to 'Show', vending %></td>
        <td><%= link_to 'Edit', edit_vending_path(vending) %></td>
        <td><%= link_to 'Destroy', vending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Kinds of Snacks', kinds_index_path %><br><br>
<%= link_to 'Add A New Snack', new_vending_path %>
</div>
