<p id="notice"><%= notice %></p>
<h1 id="vending-head2">This is your Snack</h1>
<div id="vending-text">
<p>
  <strong>Snack:</strong>
  <%= @vending.snack %>
</p>

<p>
  <strong>Code:</strong>
  <%= @vending.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vending.price %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @vending.kind_id %>
</p>

<%= link_to 'Edit', edit_vending_path(@vending) %> |
<%= link_to 'Back', vendings_path %>
</div>
